body {
    background-image: url('../../images/orange_sky.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 50%;
}

h1 {
    color: #fff;
}
